USE [master]
GO
/****** Object:  Database [Project]    Script Date: 2019-07-17 6:41:51 PM ******/
CREATE DATABASE [Project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.PROJECTSQL\MSSQL\DATA\Project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.PROJECTSQL\MSSQL\DATA\Project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Project]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2019-07-17 6:41:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [varchar](255) NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[type] [int] NULL,
	[name] [varchar](50) NULL,
	[phone] [varchar](25) NULL,
	[email] [varchar](50) NULL,
	[company] [varchar](50) NULL,
	[token] [varchar](255) NULL,
	[picture] [varchar](255) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_picture]  DEFAULT ('none') FOR [picture]
GO
USE [master]
GO
